

<div class="panel panel-default">
  <div class="panel-body">
<!--     <form action="http://localhost/123/upload/excel" method="post"  enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="dd">
    </form>

     <form enctype="multipart/form-data" >
   <label class="control-label">上传文件</label>
<input id="uploadFile" type="file" class="file" data-show-preview="false">
</form> -->


 <form enctype="multipart/form-data">
                <!-- <label>French Input</label>
                <input id="file-fr" name="file-fr[]" type="file" multiple>
                <hr style="border: 2px dotted"> -->
               <!--  <label>Spanish Input</label> -->
                <input id="file-es" name="file" type="file" multiple data-show-preview="false">
            </form>


  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
  <table id="importFileTable" class="table table-striped " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>文件名称</th>
                <th>上传时间</th>
                <th style="width:150px;">操作</th>
            </tr>
        </thead>
       
      <!--   <tbody>
            <tr>
                <td>2012.2.2.xlsx</td>
                <td></td>
                <td>
					<button type="button" class="btn btn-sm  btn-success">分析</button>
                	<button type="button" class="btn  btn-sm btn-danger">删除</button>
                </td>
              
            </tr>
          
        </tbody> -->
    </table>
  </div>
</div>
    <script type="text/javascript" src="js/fileinput.min.js"></script>

<script type="text/javascript" src="js/importFile.js"></script>