<div class="panel panel-default">
    <div class="panel-body">
        
        <div>
            <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="新增过滤的发站代码管理">
            </div>
            
            <button id="addCode" type="submit" class="btn btn-primary">新增</button>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        
        <table id="settingTable" class="table table-striped " cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>发站代码</th>
                    <th>添加时间</th>
                    <th style="width:250px;">操作</th>
                    
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>NKY</td>
                    <td>2012-12-2</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary">启用</button>
                        <button type="button" class="btn  btn-sm btn-default">禁用</button>
                        <button type="button" class="btn  btn-sm btn-danger"> 删除</button>
                    </td>
                    
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="js/setting.js"></script>