<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.train.excel.dao.FromFilterDao">

	<resultMap type="FromFilter" id="fromFilter">
		<id column="id_" property="id" />
		<result column="code_" property="code" />
		<result column="create_time_" property="createTime" />
	</resultMap>

<sql id="condition">
		<if test="fileName != null and fileName != ''">
			<bind name="bind" value="'%' + _parameter.getFileName() + '%'" />
			file_name_ like #{bind}
		</if>
	</sql>
	
<sql id="field">
		id_,
		code_,
		create_time_
	</sql>

	<select id="getAllCode" resultMap="fromFilter">
		SELECT 
			<include refid="field" />
		FROM
			t_from_filter
		limit #{start}, #{length}
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_from_filter
		(
			code_,
			create_time_
		)
		VALUES
		(
			#{code, jdbcType=VARCHAR},
			#{createTime}
		)
	</insert>

	<delete id="deleteById">
		DELETE FROM t_from_filter WHERE id_ = #{id}
	</delete>
	
	<select id="getFromFiltCodeCount" resultType="_int">
		SELECT COUNT(id_) FROM t_from_filter
	</select>


</mapper>            